version: 1.0.0.{build}

image: Visual Studio 2019

configuration: Release
skip_tags: true

init:
- ps: $Env:VersionSuffixParam = "--version-suffix"
- ps: $Env:VersionSuffixValue = ("ci-" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0"))

before_build:
- ps: 'Write-Output ("Build version suffix: " + $Env:VersionSuffixValue)'
- ps: dotnet --info
- ps: dotnet restore -v Minimal

build_script:
- ps: dotnet build -c $Env:CONFIGURATION $Env:VersionSuffixParam $Env:VersionSuffixValue /p:BuildNumber=$Env:APPVEYOR_BUILD_NUMBER
- ps: .\RunGenerate.bat
- ps: dotnet build -c $Env:CONFIGURATION $Env:VersionSuffixParam $Env:VersionSuffixValue /p:BuildNumber=$Env:APPVEYOR_BUILD_NUMBER
- ps: dotnet build src\R4Mvc.Tools.Cli -c $Env:CONFIGURATION $Env:VersionSuffixParam $Env:VersionSuffixValue /p:BuildNumber=$Env:APPVEYOR_BUILD_NUMBER

test_script:
- ps: dotnet test --test-adapter-path:. --logger:Appveyor

artifacts:
- path: '**\*.nupkg'

before_deploy:
- ps: |
    foreach ($artifactName in $artifacts.keys) {
        $artifact = $artifacts[$artifactName]
        if ($artifact.name -like '*tools*') {
            $artifactSize = (Get-Item $artifact.path).length
            if ($artifactSize -lt 5mb) {
                throw [System.Exception] "$artifact.name is too small: $artifactSize"
            }
        }
    }

for:
- branches:
    only:
    - develop

  deploy:
  - provider: NuGet
    server: https://www.myget.org/F/r4mvc/api/v2/package
    symbol_server: https://www.myget.org/F/r4mvc/symbols/api/v2/package
    api_key:
      secure: DdgwyUm4/aaCfk28jRGRFgQpqcCp6OvuqCZLZaHjNAPHZuia0+PF01zC8JGpWfe7
    artifact: /.*\.nupkg/

- branches:
    only:
    - /feature\/.*/

  init:
  - ps: $Env:VersionSuffixParam = "--version-suffix"
  - ps: $Env:VersionSuffixValue = ("ci--" + $Env:APPVEYOR_REPO_BRANCH.Substring(8) + "-" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0"))

  deploy:
  - provider: NuGet
    server: https://www.myget.org/F/r4mvc/api/v2/package
    symbol_server: https://www.myget.org/F/r4mvc/symbols/api/v2/package
    api_key:
      secure: DdgwyUm4/aaCfk28jRGRFgQpqcCp6OvuqCZLZaHjNAPHZuia0+PF01zC8JGpWfe7
    artifact: /.*\.nupkg/

- branches:
    only:
    - /prerelease\/.*/

  init:
  - ps: $Env:VersionSuffixParam = "--version-suffix"
  - ps: $Env:VersionSuffixValue = ($Env:APPVEYOR_REPO_BRANCH.Substring(11) + "-" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0"))

  deploy:
  - provider: NuGet
    api_key:
      secure: /0fA0RjUbNqcNCVM23B1QvsFpvvGJby39xb+4Huf++CvtoiAmXxLkfvH2mMbkW/D
    artifact: /.*\.nupkg/

- branches:
    only:
    - master

  init:
  - ps: $Env:VersionSuffixParam = $null
  - ps: $Env:VersionSuffixValue = $null

  deploy:
  - provider: NuGet
    api_key:
      secure: /0fA0RjUbNqcNCVM23B1QvsFpvvGJby39xb+4Huf++CvtoiAmXxLkfvH2mMbkW/D
    artifact: /.*\.nupkg/

  - provider: NuGet
    server: https://www.myget.org/F/r4mvc/api/v2/package
    symbol_server: https://www.myget.org/F/r4mvc/symbols/api/v2/package
    api_key:
      secure: DdgwyUm4/aaCfk28jRGRFgQpqcCp6OvuqCZLZaHjNAPHZuia0+PF01zC8JGpWfe7
    artifact: /.*\.nupkg/
