@using Microsoft.AspNetCore.Identity
@using R4MvcHostApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form mvc-action="MVC.Account.Logout()" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a mvc-action="MVC.Manage.Index()" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a mvc-action="MVC.Account.Register()">Register</a></li>
        <li><a mvc-action="MVC.Account.Login()">Log in</a></li>
    </ul>
}
